{% if multiple %}
  {% set classes = [
    'js-form-item',
    'form-item'
  ] %}

  <div{{ attributes.addClass(classes) }}>
    {{ table }}
    {% if description.content and not description_tooltip %}
      <div{{ description.attributes.addClass('fr-hint-text') }}>{{ description.content }}</div>
    {% endif %}
    {% if button %}
      <div class="clearfix">{{ button }}</div>
    {% endif %}
  </div>
{% else %}
  {% for element in elements %}
    {{ element }}
  {% endfor %}
{% endif %}
